.BookListItem {
  display: flex;
  margin: 30px 0;
  font-weight: 700;
  color: #4b4b4b;
  &__details {
    display: flex;
    flex-direction: column;
  }

  &__cover {
    flex-shrink: 0;
    max-width: 150px;
    width: 100%;
    margin-right: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    color: darkcyan;
    text-decoration: none;
  }
  &__author {
  }
  &__price {
    font-size: 20px;
  }

  &__button {
    max-width: fit-content;
  }
}
