.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dadada;

  &__logo {
    font-size: 32px;
    font-weight: 700;
  }

  &__icon {
    font-size: 24px;
    margin-right: 10px;
    color: darkcyan;
  }

  &__cart-link {
    display: flex;
    color: #4b4b4b;
    font-weight: 500;
  }
}
